.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

  .user_data {
    display: flex;
    padding: 4px;
    border: {
      bottom: {
        style: solid;
        width: 1px;
        color: #2c2c2c;
      };
    };
  }
}